body {margin-top: 30px;}
#menu {
	min-height: 360px;
	position: absolute;
	border: double 4px darkblue;
	margin-left: 10px;
}
#height90 {height: 90px;}
div {text-align: center;}
span {min-height: 30px;font-size: 14px;}
p {padding: 10px 0px;}
hr {margin: 0px; padding: 0px;}
.textRight {text-align: right;}
.box {
	border: solid 5px gray;
	text-align: center;
}
.bh, .title, .header {
	font-variant: small-caps;
	margin: 0px;
}
.bh {float: right; margin-right: 30px;}
.footer {
	text-align: center;
	font-size: 1.25em;
}
.title {
	border-top: solid 9px darkblue;
	border-bottom: solid 1px darkblue;
	padding: 0px;
}
.bottomEdge {
	margin-top: 5px;
	margin-bottom: 5px;
	border: solid 2px darkgreen;
}
.leftEdge {
	margin-left: 3px;
	border-left: solid 2px darkgreen;
}
select:nth-child(3), select:nth-child(6), select:nth-child(9) {
	margin-left: 0px;
	margin-right: 0px;
}
.grid_6 {padding: 6px 0px;}
.wrapType, .wrapFill {
	min-height: 22px;
}